<form [formGroup]="recipeForm" (ngSubmit)="onSubmit()" clrForm>
  <button
      type="submit"
      class="btn btn-success"
      [disabled]="!recipeForm.valid">Save</button>
  <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>

  <clr-input-container>
    <label>Name</label>
    <input
        type="text"
        id="name"
        formControlName="name"
        class="form-control"
        clrInput>
  </clr-input-container>
  <clr-input-container>
    <label>Image URL</label>
    <input
        type="text"
        id="imagePath"
        formControlName="imagePath"
        class="form-control"
        #imagePath
        clrInput>
  </clr-input-container>

  <div class="clr-row">
    <div class="clr-col-xs-12">
      <img [src]="imagePath.value" class="img-thumbnail">
    </div>
  </div>

  <clr-textarea-container>
    <label>Description</label>
    <textarea
        type="text"
        id="description"
        class="form-control"
        formControlName="description"
        rows="6" clrTextarea></textarea>
  </clr-textarea-container>

  <div formArrayName="ingredients">
    <pre>{{ recipeForm | json }}</pre>
<!--    <div-->
<!--      class=""-->
<!--      *ngFor="let ingredientCtrl of recipeForm.get('ingredients').controls; let i = index"-->
<!--      [formGroupName]="i"-->
<!--      style="margin-top: 10px;">-->
<!--      <clr-input-container>-->
<!--        <label>Name</label>-->
<!--        <input-->
<!--            type="text"-->
<!--            class="form-control"-->
<!--            formControlName="name"-->
<!--            clrInput>-->
<!--      </clr-input-container>-->
<!--      <clr-input-container>-->
<!--        <label>Amount</label>-->
<!--        <input-->
<!--            type="number"-->
<!--            class="form-control"-->
<!--            formControlName="amount"-->
<!--            clrInput>-->
<!--      </clr-input-container>-->
<!--      <button-->
<!--          type="button"-->
<!--          class="btn btn-danger"-->
<!--          (click)="onDeleteIngredient(i)">X</button>-->
<!--    </div>-->
    <button
        type="button"
        class="btn btn-success"
        (click)="onAddIngredient()">Add Ingredient</button>
  </div>
</form>
