<div class="card clickable"
     [routerLink]="[index]"
     routerLinkActive="active">
  <div class="card-block">
    <div class="card-media-block wrap">
      <img
          [src]="recipe.imagePath"
          alt="{{ recipe.name }}"
          class="card-media-image">
      <div class="card-media-description">
        <span class="card-media-title">
          {{ recipe.name }}
        </span>
        <span class="card-media-text">
          {{ recipe.description }}
        </span>
      </div>
    </div>
  </div>
</div>
